[Desktop Entry]
Type=Application
Name=Screenux Screenshot
Exec=screenux-screenshot
Icon=io.github.rafa.ScreenuxScreenshot
Terminal=false
Categories=Utility;Graphics;
